.background-icons {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 0;
}

.background-icon {
    position: absolute;
    user-select: none;
    filter: brightness(0) invert(1);
}