// ==========================================================================
// BODY - Base body styles
// ==========================================================================

body {
  margin: 0;
  padding: 0;
  font-family: 'Calibri', sans-serif;
  font-size: 16px;
  color: var(--text-white-color);
  min-width: 320px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}