@use 'global' as *;

.card-selection-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-selection {
  @include card-styles;
  width: 70vh;
  justify-content: center;
}

.option-button {
  @include button-styles(var(--button-background-color), var(--button-hover-background-color));
  margin: 10px 5px;
  &.reset {
    @include button-styles(var(--cancel-button-background-color), var(--cancel-button-hover-background-color));
  }
}
