@use 'global' as *;

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.card {
  @include card-styles;
  width: 50vh;
  height: 50vh;
  justify-content: center;
  max-width: 600px;
}

.welcome-message {
  margin: 10px 0;
  font-size: 18px;
  width: 100%;
  text-align: center;
  color: var(--text-black-color);
}

.option-button {
  @include button-styles(var(--button-background-color), var(--button-hover-background-color));
  margin: 10px 0;
  &.cancel {
    @include button-styles(var(--cancel-button-background-color), var(--cancel-button-hover-background-color));
  }
}

.session-label, .username-label {
  margin: 10px 0;
  font-size: 16px;
  width: 100%;
  text-align: center;
  color: var(--text-black-color);
}

.session-input, .username-input {
  @include input-styles;
}

.error-message {
  color: red;
  font-size: 12px;
  text-align: center;
}

.fade-in {
  @include fade-in;
}

.card-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.card-option {
  width: 60px;
  height: 100px;
  border: 1px solid rgb(99, 99, 99);
  border-radius: 4px;
  background-color: var(--text-white-color);
  color: var(--text-black-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  @include fade-in;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  &.selected {
    background-color: var(--background-color);
    color: var(--text-white-color);
  }
}

.user-list {
  margin-top: 20px;
  width: 660px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include fade-in;
}

.user {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 10px;
  border: 1px solid var(--card-border-color);
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: var(--text-white-color);
}

.username {
  font-weight: bold;
  color: var(--text-black-color);
}

.selected-card {
  font-size: 16px;
  color: rgb(165, 165, 165);
}

.averange-estimate {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  color: var(--text-black-color);
  border: 1px solid var(--card-border-color);
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  @include fade-in;
  p {
    margin: 0;
  }
}

.averange-value {
  color: green;
}

.cookies-consent {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.cookie-icon {
  color: brown;
  margin-right: 5px;
}

.cookie-text {
  color: var(--text-black-color);
  font-size: 14px;
}

.choose-option {
  color: var(--text-black-color);
  font-size: 14px;
}

.icon-label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.input-icon {
  font-size: 3em;
  margin-bottom: 10px;
  color: var(--icon-color);
}