@use 'global' as *;

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: var(--background-color);
  padding: 5px 0;
  min-width: 720px;
}

.settings {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.settings-icon {
  cursor: pointer;
  font-size: 20px;
  color: var(--text-white-color);
  transition: transform 0.3s ease;

  &:hover {
    transform: rotate(360deg);
  }
}

.social-icons {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.linkedin-icon {
  font-size: 20px;
  color: var(--text-white-color);
  transition: color 0.3s ease;

  &:hover {
    color: #0077b5;
  }
}

.settings-menu {
  position: absolute;
  right: 0px;
  bottom: 45px;
  background-color: var(--background-color);
  border-radius: 4px;
  padding: 20px;
  z-index: 1000;
  text-align: center;
}

.settings-menu select {
  @include input-styles;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 5px;
  width: 130px;
}
