:root {
  --text-color: #ffffff;
  --header-bg-color: #4CAF50;
  --footer-bg-color: #4CAF50;
  --card-border-color: #ccc;
  --button-bg-color: #14b81d;
  --button-hover-bg-color: #0a6b0f;
  --cancel-button-bg-color: #ff4d4d;
  --cancel-button-hover-bg-color: #cc0000;
}
