:root {
  --text-color: #ffffff;
  --header-bg-color: #606ef3;
  --footer-bg-color: #606ef3;
  --card-border-color: #ccc;
  --button-bg-color: #3149ce;
  --button-hover-bg-color: #2c37d6;
  --cancel-button-bg-color: #ff4d4d;
  --cancel-button-hover-bg-color: #cc0000;
}
