.header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: var(--header-bg-color);
  padding: 10px 0;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-weight: bold;
}
