.header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: var(--background-color);
  padding: 10px 0;
  font-family: 'Arial', sans-serif;
  font-size: 35px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 720px;
}

.logo {
  font-weight: bold;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--text-white-color);
}

.user-info {
  display: flex;
  align-items: center;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.user-icon {
  margin-right: 8px;
  font-size: 32px;
  color: var(--text-white-color);
}

.userid {
  font-size: 18px;
  color: var(--text-white-color);
}

.share-button {
  background-color: var(--button-background-color);
  border: none;
  color: var(--text-white-color);
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  width: max-content;
  border-radius: 5px;
  padding: 10px;
}

.share-button:hover{
  background-color: var(--button-hover-background-color);
}

.share-icon {
  margin-right: 5px;
}

.share{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}
