@use 'global' as *;

.user-list {
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  @include fade-in;

  &.two-columns {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.user {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid var(--card-border-color);
  border-radius: 12px;
  background-color: var(--text-white-color);

  .two-columns & {
    width: calc(50% - 4px);
    min-width: 280px;
  }
}

.username {
  font-weight: bold;
  color: var(--text-black-color);
}

.selected-card {
  font-weight: bold;
  font-size: 16px;
  color: rgb(165, 165, 165);
  border-radius: 4px;

  &.hidden {
    background-color: transparent;
  }
}

.check-icon {
  color: green;
}

.card-coffee-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.average-estimate {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  color: var(--text-black-color);
  border: 1px solid var(--card-border-color);
  border-radius: 12px;
  padding: 12px 16px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--text-white-color);
  @include fade-in;

  p {
    margin: 0;
  }
}

.average-value {
  color: var(--text-black-color);
}